{% extends 'base.html' %}

{% block title  %} Créer Produit {% endblock %}
{% block content  %}

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Modifier">
    </form>

{% endblock %}
<!--    <div id="cat">-->
<!--        <button-->
<!--                hx-get="{% url 'product:categorie' %}"-->
<!--                hx-target="#cat"-->
<!--                hx-swap="outerHTML"-->
<!--        >+ Catégorie</button>-->
<!--    </div>-->