{% extends 'base.html' %}

{% block title  %} Créer Produit {% endblock %}
{% block content  %}


<div class="w-5/6 mt-5 mx-auto relative overflow-x-auto shadow-md sm:rounded-lg">
            <div>
            <a href="{% url 'transaction:create_spend' %}" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
               <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                + Dépenses
               </span>
            </a>
        </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="text-2l font-bold text-white"></caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Designation
                </th>
                <th scope="col" class="px-6 py-3">
                    Monatant
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Observation
                </th>
            </tr>
        </thead>
        <tbody>
            {% for spend in daylyspents  %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ spend.name}}
                </td>
                <td class="px-6 py-4">
                    {{ spend.value}}
                </td>
                <td class="px-6 py-4">
                    {{ spend.add_date}}
                </td>
                <td class="px-6 py-4">
                    {{ spend.observation}}
                </td>


                <th class="px-6 py-4 text-right space-x-2">
                     <a href="{% url 'transaction:delete_spend' spend.pk %} " class=" hover:bg-red-500 hover:p-1 hover:rounded-lg"> Supprimer </a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

