<div id="main_invoice" class="bg-white mt-5 mb-2 h-36 w-56 ml-5 rounded-lg ">
    <form action="" method="POST"  class="text-black ml-5">
        {% csrf_token %}
        <div class="flex flex-wrap wrap w-5/6 space-y-3">
            {{form.as_p}}
        <button
                type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-blue-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Creer un bon
            </span>
        </button
>

        </div>
    </form>
</div>